/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- CSS RESET END --- */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #D6D6D6;
}

body {
    background-color: #141414;
}

#container {
    background-color: #212121;
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    overflow: hidden;
}

#top-menu {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.menu-item {
    display: inline;
}

button {
    min-width: 160px;
    background-color: #324937;
    color: #EAEAEA;
    padding: .6rem;
    border: 1px solid #000;
}

button:hover {
    border: 1px solid #fff;
}

.contact-button-show {
    display: inherit;
}

.contact-button-hide {
    display: none;
}

#content {
    display: none;
    width: 100%;
    padding: 1rem;
}

.content-header {
    width: 100%;
}

.content-article {
    width: 100%;
}

.full-width {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.full-width input, textarea, select {
    display: block;
    width: 100%;
}

.half-width {
    display: inline-block;
    width: 35%; /* Have no clue how this was calculated, but it looks centered */
    margin-left: 10%;
}

.half-width input, textarea, select {
    display: block;
    width: 100%;
}

.full-width, .half-width {
    padding: 1rem;
}

/* Just to fill bottom space */

#footer {
    width: 100%;
    height: 200px;
}

/* MISC, FONTS */

input[type=radio] {
    display: inline-block;
    width: auto;
}

input[type=submit] {
    cursor: pointer;
}

input, textarea, select {
    max-width: 100%;
    background: url(input-background.jpg);
    padding: 1rem;
    border: 1px solid #000;
    font-family: inherit;
    font-size: 12pt;
}

input:focus, textarea:focus {
    outline: none;
}

h1 {
    font-size: 26pt;
    font-weight: 600;
}

h2 {
    font-size: 14pt;
    margin-bottom: 1.6rem;
}

h1, h2 {
    text-align: center;
    padding: 1rem;
}